


<div class="container">
<div id="modal_content">
    
    </div>

    <div class="d-flex justify-content-center flex-row">

        <div class="col-lg-5 col-md-8 col-sm-8">

        <% @activities.each do |act|%>
        <div class="card mb-3">

                <div class="card-header bg-white">
                <%= act.owner.username %>
                </div>
                <%= link_to user_post_path(act.owner, act.trackable), remote: true  do %>

                <%= image_tag(act.trackable.images.first, class: 'img-responsive', style: "width: 100%; height: 100%;")%>

                <% end %>
                <div class="card-body">

                    <% if current_user.voted_for?(act.trackable)%>
                             <%= link_to unlike_user_post_path(act.owner.id, act.trackable.id) do%>
                                <%= octicon "heart", :fill => "red",:height => 32,  :class => "right left", :"aria-label" => "hi" %> <%= act.trackable.get_likes.size %>
            
                                <% end %>

                    <% else %>
                        <%= link_to like_user_post_path(act.owner.id, act.trackable.id) do%>
                            <%= octicon "heart", :height => 32,  :class => "right left", :"aria-label" => "hi" %> <%= act.trackable.get_likes.size %>
            
                         <% end %>

                    <% end %>
               
                </div>
                   
            </div>
        <% end %>
            

        
        </div>
    </div>

</div>