
<div class="container">
    <div id="modal_content">
    
    </div>



    <div class="d-flex flex-md-row flex-md-wrap justify-content-center">

        <div class="col-md-3 d-flex justify-content-center">
        
            <%= image_tag("new_york.jpg", class: 'rounded-circle', style: "width: 130px; height: 130px;") %>
        </div>


        <div class="col-md-4 d-flex flex-row flex-wrap justify-content-start align-items-start">

            <div class="d-inline-flex flex-wrap align-items-baseline">
                <h5 class="mr-3"><%= @user.email %></h5>
                    <% if current_user.id == @user.id %>
                        <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-outline-secondary btn-sm'%>
                    <% else %>

                        <% if current_user.following?(@user) %>
                           <%= link_to "Unfollow", unfollow_user_path, class: 'btn btn-primary btn-sm'%>

                        <% else %>
                            <%= link_to "Follow", follow_user_path, class: 'btn btn-primary btn-sm'%>


                        <% end %>
                    <% end %>
            </div>




            <div class="d-inline-flex flex-wrap pt-3 align-items-center">
            
                <p class="mr-3">Posts: <%= @user.posts.count %></p>
                <p class="mr-3">Follows: <%= @user.follow_count %></p>
                <p class="mr-3">Followers: <%= @user.followers_count %></p>

            </div>

            

        
        </div>

        
        
    
    </div>
     <hr>



    <div class="row">

        <% @posts.each do |post| %>
            <div class="col-md-4 mb-3">
                <div class="card h-100"> 
                <%= link_to user_post_path(post.user, post), remote: true  do %>
                    <%= image_tag(post.images.first, class: 'img-responsive', style: "width: 100%; height: 100%;")%>

                <% end %>
                </div>
                
            </div>

        <% end %>
        
         
    
    </div>

</div>


