

<div class="modal col-md-12 bd-example-modal-lg fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class=" modal-dialog modal-dialog-centered modal-lg"  role="document">
        <div class="modal-content anyClass p-2" id="modal_content" style="height: 80vh;">

            <div class="modal-body">
            <div class="row">
            
           
                <div class="col-lg-8">
                    <div class="card">

                    <% if post.images.count > 1%>

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <% post.images.each.with_index(0) do |image, index| %>
      <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
        <%= image_tag image, class: 'd-block w-100' %>
      </div>
    <% end %>
  </div>
   
   
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                    <% else %>
                        <%= image_tag(post.images.first, class: 'img-responsive', style: "width: 100%; height: 100%")%>
                                            <% end %>

                    </div>
                
                </div>



                <div class="col-lg-4">
                    <div class="d-inline-flex align-items-baseline">
                        <p class="mr-3"><%= post.user.username %></p>
                        

                        

                        <% if current_user.following?(post.user) %>
                           <%= link_to "Unfollow", unfollow_user_path, class: 'btn btn-primary btn-sm'%>

                        <% else %>
                            <%= link_to "Follow", follow_user_path, class: 'btn btn-primary btn-sm'%>


                        <% end %>   
                        <% if current_user.id == post.user.id %>
                        <%= link_to "Delete", user_post_path(post.user, post), class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: "Are you sure?"}%> 
                        <% end %>    
                        </div>

                        <p><b><%= post.description%></b></p>

                    <hr>



                    <div class="col-md-12 no-padding anyClass">
                        <% @comments.each do |comment| %>
                            <p><b><%= comment.user.username %></b> 
                            <% if current_user.id == comment.user.id || current_user.id == post.user.id %>
                            <%= link_to "x", user_post_comment_path(post.user, post, comment), method: :delete, class: 'btn btn-outline-danger btn-sm', style: "font-size: 8px;"%>: 
                            <% end %>
                            <%= comment.content %></p>


                        <% end %>
                   
                        <p><b>JohnGambo</b>: super awesome!!!</p>


                    </div>

                     <%= form_for ([post.user, post, Comment.new]) do |f| %>
                        <%= f.hidden_field :post_id, :value => post.id %>

                        <div class="form-group">
                         <%= f.text_field :content, class: 'form-control' %>

                        </div>
                        <%= f.submit "Add comment", class: 'btn btn-outline-primary btn-sm' %>

                    <% end %>

                    <hr>
                    <% if current_user.voted_for?(post)%>
                             <%= link_to unlike_user_post_path(post.user.id, post.id) do%>
                                <%= octicon "heart", :fill => "red",:height => 32,  :class => "right left", :"aria-label" => "hi" %> <%= post.get_likes.size %>
            
                                <% end %>

                    <% else %>
                        <%= link_to like_user_post_path(post.user.id, post.id) do%>
                            <%= octicon "heart", :height => 32,  :class => "right left", :"aria-label" => "hi" %> <%= post.get_likes.size %>
            
                         <% end %>

                    <% end %>
                </div>


                 </div>
            
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            </div>

        </div>
    </div>
</div>